keys add bing_api X
keys add builtwith_api X
keys add censysio_id X
keys add censysio_secret X
keys add facebook_api X
keys add facebook_password X
keys add facebook_secret X
keys add facebook_username X
keys add flickr_api X
keys add fullcontact_api X
keys add github_api X
keys add google_api X
keys add google_cse X
keys add hashes_api X
keys add instagram_api X
keys add instagram_secret X
keys add ipinfodb_api X
keys add jigsaw_api X
keys add jigsaw_password X
keys add jigsaw_username X
keys add linkedin_api X
keys add linkedin_secret X
keys add pwnedlist_api X
keys add pwnedlist_iv X
keys add pwnedlist_secret X
keys add shodan_api X
keys add twitter_api X
keys add twitter_secret X
